*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial,sans-serif;
}

body{
  background:#0a0a0a;
  color:white;
  line-height:1.6;
}

header{
  position:sticky;
  top:0;
  background:#0a0a0af5;
  border-bottom:1px solid #2b2b2b;
  z-index:999;
}

nav{
  max-width:1200px;
  margin:auto;
  padding:20px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

nav ul{
  display:flex;
  gap:25px;
  list-style:none;
}

nav a{
  color:#ddd;
  text-decoration:none;
}

section{
  max-width:1200px;
  margin:auto;
  padding:80px 20px;
  border-top:1px solid #222;
}

.hero{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:40px;
  align-items:center;
}

.tag{
  color:#f5c451;
  text-transform:uppercase;
  letter-spacing:4px;
  font-size:13px;
}

h1{
  font-size:55px;
  margin:20px 0;
}

h2{
  color:#f5c451;
  margin-bottom:30px;
  font-size:35px;
}

.btn{
  display:inline-block;
  margin-top:20px;
  background:#f5c451;
  color:black;
  padding:12px 22px;
  border-radius:12px;
  text-decoration:none;
  border:none;
  cursor:pointer;
}

.profile-img{
  width:100%;
  border-radius:20px;
  object-fit:cover;
}

.cards{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:25px;
}

.card{
  background:#171717;
  border:1px solid #333;
  border-radius:18px;
  padding:25px;
}

.portfolio-grid{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:25px;
}

.portfolio-card{
  background:#171717;
  border:1px solid #333;
  border-radius:18px;
  overflow:hidden;
  transition:0.3s;
}

.portfolio-card:hover{
  transform:translateY(-8px);
}

.portfolio-card img{
  width:100%;
  height:220px;
  object-fit:cover;
}

.portfolio-card h3{
  padding:20px;
}

input,
textarea{
  width:100%;
  padding:14px;
  margin-bottom:15px;
  background:#111;
  border:1px solid #333;
  color:white;
  border-radius:10px;
}

textarea{
  min-height:120px;
}

@media(max-width:900px){
  .hero,
  .cards,
  .portfolio-grid{
    grid-template-columns:1fr;
  }

  nav{
    flex-direction:column;
    gap:15px;
  }

  h1{
    font-size:38px;
  }
}